<form #tForm="ngForm" (ngSubmit)="doSubmit(tForm.value)">
  <div class="col-md-12">
     <label for="account">Account</label>
     <input
      class="form-control"
      type="text"
      name="account"
      id="account"
      ngModel
      required
      #tAccount="ngModel">
     <div class="text-danger" *ngIf="tAccount.invalid">Account field cannot be blank!</div>
  </div>

  <div class="col-md-12">
    <label for="password">Password</label>
    <input
      class="form-control"
      type="password"
      name="password"
      id="password"
      ngModel
      required
      #tPassword="ngModel">
    <div class="text-danger" *ngIf="tPassword.invalid">Password field cannot be blank!</div>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="keepLogin"
      id="keepLogin"
      ngModel
      #tKeepLogin="ngModel">
    <label class="form-check-label" for="keepLogin">Remember Me</label>
  </div>

  <div class="form-button mt-3">
    <button
      id="submit"
      type="submit"
      class="btn btn-primary"
      [disabled]="tForm.invalid">Login
    </button>
  </div>
 </form>
