<form>
  <div class="col-md-12">
    <label for="account">Account</label>
     <input class="form-control" type="text" name="account" id="account" required>
     <div class="text-danger">Account field cannot be blank!</div>
  </div>

  <div class="col-md-12">
  <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <div class="text-danger">Password field cannot be blank!</div>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="rememberMe">
    <label class="form-check-label" for="rememberMe">Remember Me</label>
  </div>

  <div class="form-button mt-3">
    <button id="submit" type="submit" class="btn btn-primary">Login</button>
  </div>
 </form>
