<div class="mb-4" *ngIf="article">
  <a>
    <img
      class="card-img-top"
      style="height: 150px"
      [src]="article.coverImg"
      [alt]="article.title"
      [title]="article.title"/>
  </a>
  <div class="card-body">
      <div class="small text-muted">{{ article.createDate }}</div>
      <h2 class="card-title">{{ article.title }}</h2>
      <p class="card-text">{{ article.description}}</p>
      <a
        class="btn btn-primary"
        (click)="goBack()"
      >
        Back
      </a>
</div>
