<form [formGroup]="articleFormGroup">
  <div class="col-md-12">
      <label for="title">Title</label>
      <input
          class="form-control"
          type="text"
          name="title"
          id="title"
          formControlName="title"
      >
  </div>
  <div
      class="text-danger"
      *ngIf="articleFormGroup.get('title')?.touched &&
              articleFormGroup.get('title')?.errors &&
              articleFormGroup.get('title')?.errors!['required']"
  >
      此欄位必填
  </div>

  <div class="col-md-12">
      <label for="description">Description</label>
      <input
          class="form-control"
          type="text"
          name="description"
          id="description"
          formControlName="description"
      >
  </div>
  <div
      class="text-danger"
      *ngIf="articleFormGroup.get('description')?.touched &&
              articleFormGroup.get('description')?.errors &&
              articleFormGroup.get('description')?.errors!['required']"
  >
      此欄位必填
  </div>

  <div class="col-md-12">
      <label for="createDate">CreateDate</label>
      <input
          class="form-control"
          type="text"
          name="createDate"
          id="createDate"
          formControlName="createDate"
      >
  </div>
  <div
      class="text-danger"
      *ngIf="articleFormGroup.get('createDate')?.touched &&
              articleFormGroup.get('createDate')?.errors &&
              articleFormGroup.get('createDate')?.errors!['required']"
  >
      此欄位必填
  </div>

  <div class="col-md-12">
      <label for="coverImg">CoverImg</label>
      <input
          class="form-control"
          type="text"
          name="coverImg"
          id="coverImg"
          formControlName="coverImg"
      >
  </div>
  <div
      class="text-danger"
      *ngIf="articleFormGroup.get('coverImg')?.touched &&
              articleFormGroup.get('coverImg')?.errors &&
              articleFormGroup.get('coverImg')?.errors!['required']"
  >
      此欄位必填
  </div>
</form>
