<form>
  <div class="col-md-12">
      <label for="title">Title</label>
      <input
          class="form-control"
          type="text"
          name="title"
          id="title"
      >
  </div>

  <div class="col-md-12">
      <label for="description">Description</label>
      <input
          class="form-control"
          type="text"
          name="description"
          id="description"
      >
  </div>

  <div class="col-md-12">
      <label for="createDate">CreateDate</label>
      <input
          class="form-control"
          type="text"
          name="createDate"
          id="createDate"
      >
  </div>

  <div class="col-md-12">
      <label for="coverImg">CoverImg</label>
      <input
          class="form-control"
          type="text"
          name="coverImg"
          id="coverImg"
      >
  </div>
</form>
